.block {
	position: relative;
	display: block;
	padding: 1.5rem;
	border-radius: 1rem;
	background: var(--bg-dark);
	box-shadow: var(--shadow-medium);
}

.block__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	h3 {
    margin: 0 0 1rem;
  }
}
