.form-input {
  appearance: none;
  width: 100%;
  padding: .5rem .75rem;
  border: 0;
  border-radius: .5rem;
  background: var(--bg-dark);
  color: var(--text-color);
  font-size: 1rem;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--text-color-dark);
  }
}

.form-label {
  color: var(--text-color-light);
  font-family: var(--font-family-titles);
  font-weight: bold;

  &--large {
    font-size: 1.15em;
  }
}

.select-group {
  display: flex;
  align-items: center;

  .form-label {
    width: 10rem;
    margin-right: .75rem;
  }
}

.help {
  font-size: .85em;
  font-style: italic;
  color: var(--text-color-medium);
}

.clickable-label {
  @extend .form-input;

  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover,
  &:active {
    filter: brightness(1.15);
  }
}
