* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	background: image-url("background-blobs-header-1.svg") no-repeat;
	background-size: 100% clamp(100px, 30vw, 500px);
	background-color: var(--body-bg);
	color: var(--text-color);
	font-size: 16px;
	font-family: var(--font-family);
	overflow-x: hidden;
}

a {
	color: var(--primary);

  &:hover {
    color: var(--secondary);
  }

  &:focus {
    outline: none;
  }
}

[contenteditable]:focus {
	outline: none;
}
