$margin: 3rem;

$media-min-widths: (
  xs: 400px,
  sm: 640px,
  md: 768px,
  lg: 900px,
  mbl: 1000px,
  xl: 1200px
);

$body-bg: hsl(220, 15%, 20%);
$text-color: hsl(219, 22%, 77%);

:root {
	--primary: hsl(281, 72%, 54%);
	--secondary: hsl(32, 90%, 49%);

	--red: #b33834;
	--orange: #e89930;
	--green: #35d377;

	--body-bg: #{ $body-bg };
	--content-bg: #{ darken($body-bg, 5%) };
	--content-bg-light: #{ lighten($body-bg, 15%)};
	--bg-dark: #{ darken($body-bg, 10%) };
	--border-color: #{ lighten($body-bg, 10%) };

	--text-color: #{ $text-color };
	--text-color-medium: #{ desaturate(darken($text-color, 15%), 5%) };
	--text-color-dark: #{ desaturate(darken($text-color, 30%), 10%) };
	--text-color-light: #{ lighten($text-color, 15%) };
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--font-family-titles: "Lato", sans-serif;

	--max-width: 1700px;
}
