* {
  box-sizing: border-box;
}

.wrapper {
  max-width: var(--max-width, 900px);
  padding: 0 1.5rem;
  margin: 0 auto;
}

.text-primary-color-offset {
  color: var(--primary-color-text-offset);
}

.text-secondary-color-offset {
  color: var(--secondary-color-text-offset);
}
