h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-heading, var(--font-family-titles));
  color: var(--palette-font-heading);
}

.text-primary-color-offset {
  h1, h2, h3 {
    color: var(--primary-color-text-offset);
  }
}

.text-secondary-color-offset {
  h1, h2, h3 {
    color: var(--secondary-color-text-offset);
  }
}
